/* ===     Portfolio Pallete     === */

$mainColor: #202533; 
$altColor: #282C3E;
$extraColor: #1a1f28; 
$title: #C8D0D9;
$text: #717C88;
$btnColor: #8752C8;
$btnText: #BF83DC;
$logo: -webkit-linear-gradient(#8752c8, #0b849d);